# These parameters are coded in as the defaults in the Basic3DParams and Parameters classes.
r0=1 # au
th0=1.5707963267949 # rad
ph0=0 # rad
ek0=0.1 # GeV
rHP=140 # au
rSun=0.005 # au
m=0.000511 # GeV
charge=-1
deltar=0.01 # au
lambda0=0.15 # au
rRefLambda=1 # au
rig0=1 # GV
kperp_kpar=0.01
Ac=-1
ph0Jup=3.14159265358979 # rad
rBeginJup=5.1046 # au
rEndJup=5.39 # au
dthJup=0.018 # rad
dphJup=0.018 # rad
thJup=1.5707963267949 # rad
omega=2.86307291993821e-06 # rad / s
omegaJup=1.67833030617195e-08 # rad / s
Vsw=2.674e-06 # km / s
ds=374 # s

# 1/s = 1/protime * protime/s
b0=5 # nT
