# Ignore build directory
NewSolarProp/bin/
NewSolarProp/build/
NewSolarProp/figures/
NewSolarProp/rundata/macbookpro/
NewSolarProp/scripts/.ipynb_checkpoints/
NewSolarProp/pbs/

.ipynb_checkpoints/
*/.ipynb_checkpoints
plots/*

*.DS_Store
*.swp
*.pyc
*.aux
*.log
*.out

helios/build/
helios/bin/
helios/rundata/
helios/pbs/

draft_*/

