# Ignore build directory
NewSolarProp/build/
NewSolarProp/bin/
NewSolarProp/figures/
NewSolarProp/rundata/macbookpro/
.ipynb_checkpoints/
NewSolarProp/scripts/.ipynb_checkpoints/

SolarProp/

Strauss_code/pbs/
Strauss_code/SDE

*/.ipynb_checkpoints
plots/*

*.DS_Store
*.swp
*.pyc
*.aux
*.log
*.out

solarprop_rolf_kappl/

helios/build/
helios/bin/
helios/rundata

