# Ignore build directory
NewSolarProp/build/
NewSolarProp/bin/
NewSolarProp/figures/
NewSolarProp/pbs/
NewSolarProp/rundata/macbookpro/
NewSolarProp/runs/
NewSolarProp/scripts/.ipynb_checkpoints/
NewSolarProp/test/
SolarProp/
Strauss_code/pbs/
Strauss_code/SDE
.ipynb_checkpoints
plots/

.DS_Store
*.swp
